@font-face {
  font-family: 'WalkNook'; 
  src: url('../assets/fonts/Nike-Font/Futura\ Condensed\ Extra\ Bold.otf') format('woff2'),
       url('../assets/fonts/Nike-Font/Futura\ Condensed\ Extra\ Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
