@import "./constants";
@import "./home";
@import "./fonts";
@import "./navbar";
@import "./card-Products";
@import "./_Departments/menDepartment";
@import "./login";
@import "./Icons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "WalkNook", sans-serif;
}
